.grid-container{
    margin:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap :10px;
}

/* products*/

.product {
    background-color: #ffffff86; /* Use a solid color or a transparent color */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure the product content stays above the background */
}

/* Style the images */
.product img {
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

/* Style the headings and button */
h3 {
    font-size: 14px;
    color: #333;
    margin: 0;
}

h2 {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* vedio */

.video-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    background: #00000000;
    position: relative;
}

.video-container img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}