.products {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    position: relative;
    gap: 20px;
}

.product-card {
    flex: 1 0 calc(33.333% - 10px);
    max-width: calc(33.333% - 10px);
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 0.7s ease-in-out forwards;
}

/* Slide-In Animation */
@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Sequential Animation Delay */
.product-card:nth-child(1) {
    animation-delay: 0.2s;
}

.product-card:nth-child(2) {
    animation-delay: 0.4s;
}

.product-card:nth-child(3) {
    animation-delay: 0.6s;
}

.product-card:nth-child(4) {
    animation-delay: 0.8s;
}

.product-card:nth-child(5) {
    animation-delay: 1.0s;
}

.product-card:nth-child(6) {
    animation-delay: 1.0s;
}

/* Add more nth-child selectors as needed for more cards */

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card .price {
    font-size: 14px;
    color: #333;
}

.product-card .old-price {
    text-decoration: line-through;
    color: #888;
}

.product-card .discount {
    color: #e74c3c;
}

.product-card button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.product-card button:hover {
    background-color: #555;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
    .product-slider {
        gap: 5px;
    }

    .product-card {
        padding: 8px;
        flex: 1 0 calc(45% - 10px);
        max-width: calc(45% - 10px);
    }

    .product-card h3 {
        font-size: 14px;
        margin: 8px 0;
        margin-bottom: 0px;
    }

    .product-card p {
        margin: 5px;
    }

    .product-card .price {
        font-size: 12px;
    }

    .product-card button {
        margin-top: 5px;
        font-size: 12px;
        padding: 8px 12px;
    }
}

.video-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    background: #00000000;
    position: relative;
}

.video-container img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
}
