.swipe-left{
    background: #ffffff;
}


/* slider header */

.slider-header {
    padding-top: 10px;
    padding-left: 5px;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider-header .main-title {
    font-weight: bold;
    color: #000;
}

.slider-header .sub-title {
    font-weight: normal;
    color: #888;
    margin-left: 5px;
}

.product-slider {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    /* Prevents wrapping to ensure all items stay in one line */
    overflow-x: auto;
    /* Allows horizontal scrolling if content overflows */
    gap: 10px;
    /* Space between the product cards */
}

.product-card {
    flex: 1 0 calc(33.333% - 10px);
    /* Each product card takes up one-third of the container */
    max-width: calc(33.333% - 10px);
    /* Ensure the width does not exceed one-third of the container */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-card .price {
    font-size: 14px;
    color: #333;
}

.product-card .old-price {
    text-decoration: line-through;
    color: #888;
}

.product-card .discount {
    color: #e74c3c;
}

.product-card button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.product-card button:hover {
    background-color: #555;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
    .product-slider {
        gap: 5px;
        /* Reduce gap between cards on smaller screens */
    }

    .product-card {
        padding: 8px;
        flex: 1 0 calc(45% - 10px);
        /* Ensure cards are one-third of the width */
        max-width: calc(45% - 10px);
        /* Ensure cards are one-third of the width */
    }

    .product-card h3 {
        font-size: 14px;
        /* Smaller font for mobile */
        margin: 8px 0;
        margin-bottom: 0px;
    }

    .product-card p {
        margin: 5px;
    }

    .product-card .price {
        font-size: 12px;
        /* Smaller font for mobile */
    }

    .product-card button {
        margin-top: 5px;
        font-size: 12px;
        /* Smaller font for mobile */
        padding: 8px 12px;
    }
}
