body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.products{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    position: relative;
    gap: 20px;
}

.product-item {
    position: relative;
    width: 180px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation-iteration-count:infinite ;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.heading-banner img{
    width:100%;
}

.product-item img {
    width: 100%;
    display: block;
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    color: white;
}

.product-info p {
    margin: 5px 0;
}

.product-info p:first-child {
    font-size: 1.5em;
    font-weight: bold;
}

.product-info p:last-child {
    font-size: 1.2em;
}
