.contact-page-container {
  background-color: #1e1e1e;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;

}

.form-get {
  padding-right: 20px;
}

.contact-form-container {
  flex: 2;
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-info-container {
  flex: 1;
}

.contact-form-container h2 {
  margin: 0;
  font-size: 18px;
  color: #aaaaaa;
}

.contact-form-container h1 {
  margin: 10px 0 20px;
  font-size: 24px;
  color: #ffffff;
}

.contact-form-container label {
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
}

.contact-form-container input::placeholder,
.contact-form-container textarea::placeholder {
  color: #aaaaaa;
}

.contact-form-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff5722;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.contact-form-container button:hover {
  background-color: #e64a19;
}

.contact-info-container p {
  margin-top: 0;
  font-size: 14px;
  color: #cccccc;
}

.contact-info {
  color: white;
  display: grid;
  column-gap: 10px;
  grid-template-columns:1fr 1fr 1fr ;
  padding-left: 20px;
}
.info-item{
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: center;

}
.info-item p{
  font-size: small;
}
.info-item img{
  width: 60px;
}