body {
    font-family: Arial, sans-serif;
    background-color: #fffefe;
    margin: 0;
    padding: 0;
}

.product-page {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-images-carousel {
    width: 45%;
    margin-right: 5%;
}

.product-images-carousel img {
    width: 100%;
    border-radius: 5px;
}

.product-details {
    width: 50%;
}

.product-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.product-rating {
    font-size: 14px;
    color: #888;
    margin-bottom: 15px;
}

.product-rating .stars {
    color: #FFD700;
}

.price-details {
    font-size: 25px;
    color: #B12704;
    margin-bottom: 20px;
}

.price-details .old-price {
    text-decoration: line-through;
    color: #767676;
    margin-left: 10px;
}

.discount {
    font-size: 14px;
    color: red;
    margin-top: -15px;
}

.product-heading {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
}

.product-highlights h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.highlights-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.highlights-list li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.highlights-list strong {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

button.buy-now {
    width: 100%;
    padding: 15px;
    background-color: #FFA41C;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

button.buy-now:hover {
    background-color: #FF9900;
}
